@import '@fontsource/jetbrains-mono';
@import '@fontsource/inter';
@import '@fontsource/gloria-hallelujah';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: theme('colors.blueprint.dark');
  /* #0d0d0d */
  color: theme('colors.blueprint.text');
  font-family: theme('fontFamily.mono');
  /* Minimalist Grid Pattern */
  background-image:
    linear-gradient(to right, #222 1px, transparent 1px),
    linear-gradient(to bottom, #222 1px, transparent 1px);
  background-size: 40px 40px;
  min-height: 100vh;
}

/* Scrollbar styling for that technical feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #2a9d8f;
  border: 1px solid #0d0d0d;
}

::-webkit-scrollbar-corner {
  background: #0d0d0d;
}